<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans2Go</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">LOANS2GO</div>
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="contact-info">
            <a href="tel:+453326576742">Call us now! +94 77 266 5268</a>
        </div>
    </header>

    <section class="hero">
        
        <div class="hero-content">
            <h1>Looking for a same day loan?</h1>
            <br><br>
            <a href="http://localhost:8501/" class="cta-button">Find Financial Status</a>
        </div>

        <div class="loan-form">
            <form action="#">
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <input type="tel" placeholder="Your Phone" required>
                <button type="submit">Apply for a Loan Now!</button>
            </form>
        </div>
    </section>
</body>
</html>
